<div class="container-fluid">

  <div  class="row g-2 mt-4 ps-5 pe-5">
    <div
      *ngFor="let cart of cartData"
      class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"
    >
      <div class="card" style="width: 18rem">
        <img
          src="{{ cart.product[0].thumbnail }}"
          style="height: 13rem"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ cart.product[0].name }}</h5>
          <p class="card-text">
            ₹{{ cart.product[0].offerPrice }}
            <del class="actualPrice">{{ cart.product[0].actualPrice }}</del>
          </p>
          <div class="row container g-1">
            <div
              class="col col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-end"
            >
              <button
                [ngClass]="{ disabled: !(cart.quantity > 1) }"
                class="btn btn-secondary"
                (click)="quantityChange('dec', cart.productId)"
              >
                -
              </button>
            </div>
            <div
              class="col col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center"
            >
              <p>{{ cart.quantity }}</p>
            </div>
            <div
              class="col col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-start"
            >
              <button
                class="btn btn-secondary"
                (click)="quantityChange('inc', cart.productId)"
              >
                +
              </button>
            </div>
<button class="btn btn-danger" (click)="removeProduct($event,cart.productId)"> Remove</button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <h4>Total:Rs {{ total }}</h4>
      <button class="btn btn-success">
        <a class="linkText" routerLink="/checkout">Place Order</a>
      </button>
    </div>
  </div>
</div>
