.bg-gray {
  background-color: #f8f9fa;
list-style-type: none;
  height: 100vh;
}
.item{
text-decoration: none;
color: rgb(150, 125, 125);
}
.listStyle{
  list-style-type: none;


}
.activeLink{
background-color: aqua;
}
