<div class="container-fluid p-5">
<div class="row">
<h1 class="text-center pb-2">Categoria</h1>
<div *ngFor="let item of categoryData" class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
<a style="text-decoration: none; color:black;" routerLink="/products/{{item.category}}">
  <div class="card" style="width: 18rem;">
    <img src="{{item.image}}" style="height: 22rem;" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-text">{{item.category}}</h4>
    </div>
  </div>
</a>
</div>
</div>
</div>
