<div class="container">
  <div class="accordion" id="accordionExample">
    <div *ngFor="let item of orderData" class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
<div class="row">
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">OrderID:{{item._id}}</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex justify-content-end">Status:{{item.status}}</div>
</div>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
<div class="row">
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<b>deliveryDetails:</b>

<br>{{item.deliveryDetails.address}}
<br>{{item.deliveryDetails.pincode}}
<br>{{item.deliveryDetails.phone}}
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<b>Expected Delivery Date:</b>

</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
