/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(86, 108, 180);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 224);
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
